<%- include('partials/_header') %>
    <header>
        <h1>This will be the greatest TradingJournal I could ever think of!</h1>
    </header>
    <button id="showAllTrades">Show all trades</button>
    
<%- include('partials/_footer') %>