<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Journal</title>
</head>
<body>
    <header>
        <h1>This is the Trading Journal index.html</h1>
    </header>
    <main>
        <section id="tradeEntry">
            <form action="/trades" method="POST">
                <input type="text" placeholder="Symbole" name="symbole">
                <label>Order</label>
                <!-- size attribute determines the standard number of shown lines in selection list -->
                <!-- e.g. size="2" would show "Buy" and "Sell" at the same time-->
                    <select name="direction" size="1">
                        <option>Buy</option>
                        <option>Sell</option>
                    </select>
                <label>Entry Price</label>
                <!-- step attribute determines determines the in-/decremental steps for the number -->
                <!-- price in forex is given with 5 decimal -->
                    <input type="number" value="0.00001" name="price" step="0.00001">
                <label>Stop Loss</label>
                    <input type="number" value="0.00001" name="stopLoss" step="0.00001">
                <label>Take Profit</label>
                    <input type="number" value="0.00001" name="entry" step="0.00001">
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>